body {
  background: #9CCFFF;
}

div {
  width: 600px;
  background: #CCE6FF;
}

.handwritten {
    font-family: Great Vibes;
    font-size: 60px;
}
.fugaz-one-regular {
  font-family: Fugaz One, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px
}

.fugaz-one-regular-small {
  font-family: Fugaz One, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px
}

.fugaz-one-regular-tiny {
  font-family: Fugaz One, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px
}
